// 顏色
$blue-100:#56C4C5;
$btn-bgc:#FF5D50;
$btn-c:#FFFFFF;
$bgc-gray:#F5F5F5;

// 字型
$ff: 'Noto Sans TC', sans-serif;

//字型大小
$fz-48:48px;
$fz-32:32px;
$fz-28:28px;
$fz-24:24px;
$fz-20:20px;
$fz-18:18px;
$fz-16:16px;

// 邊框
$bdrs-btn1:22px;
$bdrs-btn2:27px;
$brds-item:12px 12px 0px 0px;
$bdrs-rectangle:12px;




